<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.matryxsoft.reports.ReportGenerator" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcases.TC_001_Elements"/>
      <class name="Testcases.TC_002_Forms"/>
      <class name="Testcases.TC_003_AlertFrameWindows"/>
      <class name="Testcases.TC_005_Interactions"/>
      <class name="Testcases.TC_006_BookStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
